.MuiBottomNavigation-root{
    background-color: #232323 !important;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected{
    color: #01EB78;
}

.MuiBottomNavigationAction-label{
    color: #FFFFFF !important;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root{
    color: #fff;
}