.MuiImageListItemBar-root {
    background: rgba(18, 18, 18, 0.5);
    font-size: 0.6rem !important
}

.MuiImageListItemBar-title {
    font-size: 0.6rem !important;
}

.title-movie {
    color: #fff !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.overage {
    font-size: 1.0rem;
    color: rgba(255, 255, 255, 0.6) !important;
}


.MuiButtonBase-root.MuiButton-root.loaderBtn {
    border-radius: 4px;
}