.MuiPaper-root.MuiCard-root {
    background-color: #232323 !important;
    color: #fff !important;
}

.MuiButtonBase-root.MuiButton-root.season {
    background-color: #121212 !important;
    padding: 10px;
    border-radius: 5px;

}