.uk-position-top-left.banner {
    top: 15px;
    left: 13px;
}

.uk-position-bottom-left.btn-slider {
    bottom: 15px;
    left: 13px;
}

.logo-slide {
    max-width: 150px;
    max-height: 75px;
}

.MuiButtonBase-root.MuiButton-root.sliderBtn {
    font-size: 0.6rem;
    border: 1px solid #01EB78;
    border-radius: 16px;
    background: none;
}