/* General Styles */
html{
  background-color: #121212;
  color: #fff
}

/* Img styles */
.cover{
  border-radius: 5px;
}

.gameLogo{
  width: 100px;
}

/* Details */
.MuiButtonBase-root.MuiButton-root{
  color: #121212;
  background-color: #01EB78;
}

.MuiButtonBase-root.MuiButton-root.detailsBtn{
  color: #01EB78;
  background: none;
}

.MuiButtonBase-root.MuiButton-root.detailsBtn{
  font-size: 0.5rem;
  border: 1px solid #01EB78;
  border-radius: 16px;
}

.MuiTypography-root.subtitle{
  font-style: italic;
  text-transform: uppercase;
}

.MuiButtonBase-root.MuiIconButton-root{
  color: #01EB78;
  padding: 0;
}

hr {
  border-top: 1px solid #232323;
}