/* General Styles */
html{
  background-color: #121212;
  color: #fff
}

/* Img styles */
.cover{
  border-radius: 5px;
}

.gameLogo{
  width: 180px;
}

/* Details */
.MuiButtonBase-root.MuiButton-root{
  color: #121212;
  background-color: #01EB78;
}

.MuiTypography-root.subtitle{
  font-style: italic;
  text-transform: uppercase;
}

.MuiButtonBase-root.MuiIconButton-root{
  color: #01EB78;
}

hr {
  border-top: 1px solid #232323;
}