/* General Styles */
html {
  background-color: #121212;
  color: #fff
}

/* Img styles */
.cover {
  border-radius: 15px;
}

.gameLogo {
  width: 100px;
}

.channelLogo {
  width: 50px;
}

/* Categories */
.genreTitle {
  text-transform: capitalize;
  color: #ffffff;
}

/* Sliders */

.uk-grid-small.slide-cover {
  margin-right: -50px;
}